.container {
  padding-top: 1rem;
  padding-bottom: 6rem;

  > h1 {
    font-size: 1.8rem;
    font-family: 'futura-pt', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #111;
    text-decoration: none;
    text-transform: uppercase;
    margin: 2.5rem 0;
  }

  .projectsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    > a {
      text-decoration: none;
      flex: 1;
    }
  }
}