.title {
  font-size: 1.5rem;
  font-family: 'futura-pt', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #111;
  text-decoration: none;
  text-transform: uppercase;
  margin: 2.5rem 0;
}

.imageWrapper {
  position: relative;
  width: 70%;
  padding-top: 70%;

  > .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
  }
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;

  > a {
    color: #111;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 0.9rem;
    opacity: 0.8;
    text-decoration: none;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }
}

.description {
  margin-top: 1.5rem;
  font-size: 0.95rem;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #575757;
}