.imagesWrapper {
  display: flex;

  > .imageContainer {
    max-width: unset;
    height: 400px;

    > img {
      height: 100%;
      width: auto;
    }
  }

  @media(max-width: 1200px) {
    > .imageContainer{
      height: 300px;
    }
  }
  @media(max-width: 925px){
    > .imageContainer{
      height: 200px;
    }
  }
  @media(max-width: 645px){
    flex-direction: column;
    > .imageContainer{
      height: unset;

      > img{
        width: 100%;
        height: auto;
      }
    }
  }
}

.imageContainer {
  width: 100%;
  max-width: 850px;

  > img {
    width: 100%;
    height: auto;
  }
}