@media (max-width: 1400px) {
  html {
    font-size: 100%;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 88%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 300px) {
  html {
    font-size: 60%;
  }
}